<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div [class]="'container'">
    <h2 [style.color]="'violet'">Contact Our  <br>Customer Support Center</h2>
    <img src="assets/laster.jpg"  width="200px" height="150px" alt="logo">
    <!-- <h2 >Customer Support Center</h2> -->

</div>
<div [style.margin-top]="'20px'" [style.margin-bottom]="'10px'">
    <h2 [style.text-align]="'center'">Contact Information</h2>
<p [style.text-align]="'center'">pls fill out your contact information</p>
<div >
    <p>Name*</p>
    <input type="text">
    <input [style.margin-left]="'10px'" type="text">
</div>
    <p [class]="'in'"><small>First Name</small></p>
    <p  [class]="'in'"><small>Last Name</small></p>

<p>Email*</p>
<input [style.width]="'600px'"   type="text">
<p>Phone*</p>
<input [style.width]="'600px'"   type="text">
<p>Address*</p>
<input [style.width]="'600px'"   type="text">
</div>


<!-- D:\Angular\ass13\src\Screenshot (49).png -->
